<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



  <div class="calculadora">
    <div class ="row">
        <div class="col-10">
            <form>
                <div class="input-group mb-4">
                  <span class="input-group-text"></span>
                  <input type="text" class="form-control" placeholder="0" id="resultat" disabled>
                </div>
            </form>
        </div>
        <div class="col">
            <input type="button" value="C" onclick="netejar()" id="boto" />
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <input type="button" value="mod" onclick="mostrar('%')" />
        </div>
        <div class="col">
            <input type="button" value="exp" onclick="mostrar('**')" />
        </div>
        <div class="col">
            <input type="button" value="(" onclick="mostrar('(')" />
        </div>
        <div class="col">
            <input type="button" class="form-control" value=")" onclick="mostrar(')')" />
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <input type="button" value="1" onclick="mostrar('1')" />
        </div>
        <div class="col">
            <input type="button" value="2" onclick="mostrar('2')" />
        </div>
        <div class="col">
            <input type="button" value="3" onclick="mostrar('3')" />
        </div>
        <div class="col">
            <input type="button" class="form-control" value="/" onclick="mostrar('/')" />
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <input type="button" value="4" onclick="mostrar('4')" />
        </div>
        <div class="col">
            <input type="button" value="5" onclick="mostrar('5')" />
        </div>
        <div class="col">
            <input type="button" value="6" onclick="mostrar('6')" />
        </div>
        <div class="col">
            <input type="button" class="form-control" value="-" onclick="mostrar('-')" />
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <input type="button" value="7" onclick="mostrar('7')" />
        </div>
        <div class="col">
            <input type="button" value="8" onclick="mostrar('8')" />
        </div>
        <div class="col">
            <input type="button" value="9" onclick="mostrar('9')" />
        </div>
        <div class="col">
            <input type="button" class="form-control" value="+" onclick="mostrar('+')" />
        </div>
    </div>
    <div class = "row">
        <div class="col">
            <input type="button" value="." onclick="mostrar('.')" />
        </div>
        <div class="col">
            <input type="button" value="0" onclick="mostrar('0')" />
        </div>
        <div class="col">
            <input type="button" value="=" onclick="calcular()" id="boto" />
        </div>
        <div class="col">
            <input type="button" class="form-control" value="*" onclick="mostrar('*')" />
        </div>
    </div>
</div>


<router-outlet></router-outlet>
